<!-- about.html -->
{% extends "templates/web.html" %}

{% block title %}{{ _("Redemption Confirmation") }}{% endblock %}

{% block page_content %}
<script>var orderId = {{ json.dumps(order.name) }};</script>
<h1>{{ _("Redemption Confirmation") }}</h1>
<div class="card">
    <div class="card-body">
        <p>
            <b>Full Name</b><br />
            {{ order.full_name }}
        </p>
        <div class="mb-4 mt-4">
            <b>Delivery Address</b><br />
            <div style="white-space: pre-wrap;">{{ order.delivery_address }}</div>
        </div>
        <p>
            <b>Contact Number</b><br />
            {{ order.contact_number }}
        </p>
        <p>
            <b>Store</b><br />
            {{ order.store }}
        </p>
        <div class="mt-4">
            <div class="mb-4">
                <b>Vouchers</b>
            </div>
            {% for voucher in order.vouchers %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 mb-4">
                                <img src="{{ voucher.voucher.bundle.bundle_image }}" />
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <h5 class="card-title">{{ voucher.voucher.bundle.bundle_name }}</h5>
                                <h6 class="card-subtitle">
                                    <s>&#8369;{{ voucher.voucher.bundle.original_price }}</s> &#8369;{{
                                    voucher.voucher.bundle.sale_price }}
                                </h6>
                                <p class="card-text">
                                    {{ voucher.voucher.bundle.bundle_description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="text-align: right;">
            <button type="button" class="card-link btn btn-primary" id="confirm">
                <div class="spinner-border spinner-border-sm hide" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Confirm
            </button>
            <button type="button" class="card-link btn" id="cancel">
                <div class="spinner-border spinner-border-sm hide" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Cancel
            </button>
        </div>
    </div>
</div>
{% endblock %}